/* header {
  background-color: bisque;
  padding: 4px 20px;
}

header > div {
  display: inline-block;
}
header #title {
  width: 50%;
}
header #user {
  width: 50%;
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
} */